<div class="tables-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="menu-course" >
          <a [routerLink]="['/category/create-edit']" class="btn btn-circle btn-custom purple-color" >Tạo danh mục</a>
      </div>
        <div class="accordion table-data">
          <div class="card rounded-0">
            <div class="card-header">
              <h4 class="mb-0" data-toggle="collapse" data-target="#table-two" aria-expanded="true"
                  aria-controls="table-two">
                Danh sách
                <i class="fa pull-right accordion__angle--animated" aria-hidden="true"></i>
              </h4>
            </div>
            <div id="table-two" class="collapse show table-responsive">
              <table class="table mb-4">
                <thead>
                <tr>
                  <th scope="col">
                    <div style="width: 100px;">Thời gian <i (click)="sortBy($event, 'time')" class="fa fa-arrow-up"></i></div>
                  </th>
                  <th scope="col">Tên <i (click)="sortBy($event, 'name')" class="fa fa-arrow-up"></i> </th>
                  <th scope="col">Mô tả</th>
                  <th scope="col">Ảnh</th>
                  <th scope="col">Video giới thiệu</th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody *ngIf="listDataCategories.length == 0">
                <tr class="noTransaction text-center ng-hide" ng-show="userTrans.length<1">
                  <td colspan="6">
                    <h5 class="mt-3 mb-2 font-weight-bold ng-binding">Không có dữ liệu!</h5>
                  </td>
                </tr>
                </tbody>
                <tbody>
                <tr *ngFor="let item of listDataCategories | paginate: { itemsPerPage: 5, currentPage: p, id: id  }">
                  <td class="last-trade"><span>{{item.createdAt | date:'yyyy-MM-dd HH:mm:ss':'VI'}}</span></td>
                  <td><span>{{item.name}}</span></td>
                  <td><span>{{item.description}}</span></td>
                  <td><img src={{item.arrImg[0]}} width="100" alt="loading"></td>
                  <td><span>{{item.videoIntroduce}}</span></td>
                  <td><span [routerLink]="['/category',item.id]">Detail</span> | <span [routerLink]="['/category/create-edit']" [queryParams]="{id: item.id}">Edit</span> | <span (click)="deleted(item.id)">Delete</span></td>
                </tr>
                </tbody>
              </table>
              <pagination-controls maxSize="5" *ngIf="listDataCategories.length > 1"
                                   style="text-align: right" [id]="id" (pageChange)="p = $event">
              </pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
