<div *ngIf="sttNotifi" id="toast-container" class="toast-top-right">
    <div class="alert alert-dismissible toast" [ngClass]="sttTextNotifi" aria-live="polite">
        <button type="button" class="toast-close-button" role="button" (click)="dismissToast()">×</button>
        <div class="toast-message">
            {{textNotifi}}
        </div>
    </div>
</div>

<div class="col-lg-5">
    <div class="card login-card register-card">
        <div class="card-body">
            <h2 class="card-title" *ngIf="sttAdd">Tạo khóa học</h2>
            <h2 class="card-title" *ngIf="!sttAdd">Chỉnh sửa khóa học</h2>
            <form [formGroup]="formCreated">
              <mat-form-field>
                <mat-label>Tên khóa học</mat-label>
                <input matInput type="text" formControlName="name" placeholder="Tên">
              </mat-form-field>
              <br>
              <mat-form-field>
                <mat-label>Video giới thiệu</mat-label>
                <input matInput type="text" formControlName="videoIntroduce" placeholder="Video giới thiệu">
              </mat-form-field>
              <div class="form-group">
                <input type="text" formControlName="thumbnail" class="form-control m-b-30" placeholder="Link ảnh">
              </div>
                <div class="form-group">
                    <input type="text" formControlName="description" class="form-control m-b-30" placeholder="Nội dung chi tiết">
                </div>
              <div class="form-group">
                <input type="text" formControlName="introduce" class="form-control m-b-30" placeholder="Giới thiệu khóa học">
              </div>
              <div class="form-group">
                <input type="text" formControlName="tag" class="form-control m-b-30" placeholder="Từ khóa tag. nhập cách nhau bởi dấu phẩy vd: a,b,c">
              </div>
              <div class="form-group">
                <input type="text" formControlName="benefit" class="form-control m-b-30" placeholder="Lợi ích">
              </div>
              <div class="form-group">
                <input type="text" formControlName="level" class="form-control m-b-30" placeholder="Cấp độ khóa học">
              </div>
                <div class="form-group">
                    <input type="number" formControlName="discount" class="form-control m-b-30"
                        placeholder="Phần trăm giảm giá">
                </div>
              <div class="form-group">
                    <input type="number" formControlName="followUpRequestMax" class="form-control m-b-30"
                        placeholder="Giới hạn followUp">
                </div>
              <mat-form-field>
                <mat-label>Price</mat-label>
                <input matInput type="number" formControlName="price">
                <span matSuffix>.000 VND</span>
              </mat-form-field>
                <div class="form-group">
                  <select formControlName="categoryId" class="form-control m-b-30">
                    <option [value] = "0" selected disabled>Chọn danh mục</option>
                    <option [value]="item.id" *ngFor="let item of categories">{{item.name}}</option>
                  </select>
                </div>
                <mat-form-field>
                  <mat-label>Chọn giáo viên</mat-label>
                  <mat-select formControlName="teacherIds" multiple>
                    <mat-option *ngFor="let item of teachers" [value]="item.id">{{item.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <button (click)="createdBook()" type="button" class="btn btn-block m-b-30 submit">Lưu
                </button>
            </form>
        </div>
    </div>
</div>

