<div *ngIf="sttNotifi" id="toast-container" class="toast-top-right">
  <div class="alert alert-dismissible toast" [ngClass]="sttTextNotifi" aria-live="polite">
    <button type="button" class="toast-close-button" role="button" (click)="dismissToast()">×</button>
    <div class="toast-message">
      {{textNotifi}}
    </div>
  </div>
</div>

<div class="wrap-content row">
  <div class="col-md-12">
    <div class="col-lg-4">
      <p>
        <strong> Thông tin </strong><br><br>
        Thêm các thông tin về khóa học và giáo viên
      </p>
    </div>

    <div class="col-lg-8">
      <div class="card login-card register-card">
        <div class="card-body">
          <h2 class="card-title" *ngIf="sttAdd">Tạo khóa học</h2>
          <h2 class="card-title" *ngIf="!sttAdd">Chỉnh sửa khóa học</h2>
          <form [formGroup]="formCreated">
            <mat-form-field>
              <mat-label>Tên khóa học</mat-label>
              <input matInput type="text" formControlName="name" placeholder="Tên">
              <div
                *ngIf="formCreated.get('name').invalid && (formCreated.get('name').dirty || formCreated.get('name').touched)"
                class="alert alert-danger">
                <div *ngIf="formCreated.get('name').errors.required">
                  Name is required.
                </div>
                <div *ngIf="formCreated.get('name').errors.minlength">
                  Name cannot be more than 30 characters long.
                </div>
                <div *ngIf="formCreated.get('name').errors.minlength">
                  Name must be at least 2 characters long.
                </div>
              </div>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Chọn danh mục</mat-label>
              <mat-select formControlName="categoryId">
                <mat-option [value]="item.id" *ngFor="let item of categories">
                  {{item.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <!-- <mat-form-field>
              <mat-label>Video giới thiệu</mat-label>
              <input matInput type="text" formControlName="videoIntroduce" placeholder="Video giới thiệu">
            </mat-form-field> -->

            <!-- <div class="row" style="margin-bottom: 5%;">
              <div >
                <ngx-dropzone (change)="onSelected($event)">
                  
                  <ngx-dropzone-label>Chọn video</ngx-dropzone-label>
                  <ngx-dropzone-preview *ngFor="let urlVid of urlVid" [removable]="true" (removed)="onRemove(urlVid)">
                    
                      <iframe accept="video/mp4" [src]="urlVid | safe" frameborder="0"></iframe>
                    
                  </ngx-dropzone-preview>
                </ngx-dropzone>
                <input [hidden] matInput type="text" formControlName="videoIntroduce">
              </div>
            </div> -->

            <div class="row" style="margin-bottom: 5%;">

              <div class="input col-md-12">
                <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#myModalVid">
                  Chọn video
                </button>
              </div>
              <div class="col-md-12">
                <ngx-dropzone-preview *ngFor="let urlVid of urlVid" [removable]="true" (removed)="onRemoveVid(urlVid)">
                  <ngx-dropzone-label>
                    <iframe accept="video/mp4" [src]="urlVid | safe" frameborder="0"></iframe>
                  </ngx-dropzone-label>
                </ngx-dropzone-preview>
              </div>

              <div class="modal" id="myModalVid">
                <div class="modal-dialog  modal-lg">
                  <div class="modal-content">

                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                      <ngx-dropzone (change)="onSelected($event)">

                        <ngx-dropzone-label>Chọn video</ngx-dropzone-label>
                        <ngx-dropzone-preview *ngFor="let urlVid of urls" [removable]="true"
                          (removed)="onRemoveVid(urlVid)">

                          <iframe accept="video/mp4" [src]="urlVid | safe" frameborder="0"></iframe>

                        </ngx-dropzone-preview>
                      </ngx-dropzone>
                      <input [hidden] matInput type="text" formControlName="videoIntroduce">
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-info" data-dismiss="modal">Save</button>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <mat-form-field>
              <mat-label>Giới thiệu khóa học</mat-label>
              <input matInput type="text" formControlName="introduce">
              <div
                *ngIf="formCreated.get('introduce').invalid && (formCreated.get('introduce').dirty || formCreated.get('introduce').touched)"
                class="alert alert-danger">
                <div *ngIf="formCreated.get('introduce').errors.required">
                  This field is required.
                </div>

                <div *ngIf="formCreated.get('introduce').errors.minlength">
                  This field must be at least 2 characters long.
                </div>
              </div>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Từ khóa tag. nhập cách nhau bởi dấu phẩy vd: a,b,c</mat-label>
              <input matInput type="text" formControlName="tag">
              <div
                *ngIf="formCreated.get('tag').invalid && (formCreated.get('tag').dirty || formCreated.get('tag').touched)"
                class="alert alert-danger">
                <div *ngIf="formCreated.get('tag').errors.required">
                  This field is required.
                </div>

                <div *ngIf="formCreated.get('tag').errors.minlength">
                  This field must be at least 2 characters long.
                </div>
              </div>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Lợi ích</mat-label>
              <input matInput type="text" formControlName="benefit">
              <div
                *ngIf="formCreated.get('benefit').invalid && (formCreated.get('benefit').dirty || formCreated.get('benefit').touched)"
                class="alert alert-danger">
                <div *ngIf="formCreated.get('benefit').errors.required">
                  This field is required.
                </div>

                <div *ngIf="formCreated.get('benefit').errors.minlength">
                  This field must be at least 2 characters long.
                </div>
              </div>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Cấp độ khóa học</mat-label>
              <input matInput type="text" formControlName="level">
              <div
                *ngIf="formCreated.get('level').invalid && (formCreated.get('level').dirty || formCreated.get('level').touched)"
                class="alert alert-danger">
                <div *ngIf="formCreated.get('level').errors.required">
                  This field is required.
                </div>

                <div *ngIf="formCreated.get('level').errors.minlength">
                  This field must be at least 2 characters long.
                </div>
              </div>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Phần trăm giảm giá</mat-label>
              <input matInput type="number" formControlName="discount">
              <div
                *ngIf="formCreated.get('discount').invalid && (formCreated.get('discount').dirty || formCreated.get('discount').touched)"
                class="alert alert-danger">
                <div *ngIf="formCreated.get('discount').errors.required">
                  This field is required.
                </div>
              </div>
              <span matSuffix> %</span>
            </mat-form-field>

            <mat-form-field>
              <mat-label>--select--</mat-label>
              <mat-select formControlName="courseStatus" (change)="parseValue($event.target.value)">
                <mat-option *ngFor="let name of options" [value]="name">{{name}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Giới hạn followUp</mat-label>
              <input matInput type="number" formControlName="followUpRequestMax">
              <div
                *ngIf="formCreated.get('followUpRequestMax').invalid && (formCreated.get('followUpRequestMax').dirty || formCreated.get('followUpRequestMax').touched)"
                class="alert alert-danger">
                <div *ngIf="formCreated.get('followUpRequestMax').errors.required">
                  This field is required.
                </div>
              </div>
            </mat-form-field>

            <mat-form-field>

              <mat-label>Price</mat-label>
              <input matInput type="number" formControlName="price">
              <div
                *ngIf="formCreated.get('price').invalid && (formCreated.get('price').dirty || formCreated.get('price').touched)"
                class="alert alert-danger">
                <div *ngIf="formCreated.get('price').errors.required">
                  This field is required.
                </div>
              </div>
              <span matSuffix> VND</span>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Chọn giáo viên</mat-label>
              <mat-select formControlName="teacherIds" multiple>
                <mat-option *ngFor="let item of teachers" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>

            <div class="row" style="margin-bottom: 5%;">

              <div class="input col-md-12">
                <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#myModal">
                  Chọn ảnh đại diện
                </button>
              </div>
              <div class="col-md-12">
                <ngx-dropzone-preview *ngFor="let url of urls" [removable]="true" (removed)="onRemove(url)">
                  <ngx-dropzone-label>
                    <img width="100%" src="{{url}}" alt="">
                  </ngx-dropzone-label>
                </ngx-dropzone-preview>
              </div>

              <!-- The Modal -->
              <div class="modal" id="myModal">
                <div class="modal-dialog  modal-lg">
                  <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                      <ngx-dropzone (change)="onSelect($event)">
                        <!-- accept="image/*firebase deploy" -->
                        <ngx-dropzone-label>Chọn ảnh đại diện</ngx-dropzone-label>
                        <ngx-dropzone-preview *ngFor="let url of urls" [removable]="true" (removed)="onRemove(url)">
                          <!-- <ngx-dropzone-label> -->
                          <img width="100%" src="{{url}}" alt="">
                          <!-- </ngx-dropzone-label> -->
                        </ngx-dropzone-preview>
                      </ngx-dropzone>
                      <input [hidden] matInput type="text" formControlName="thumbnail">
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-info" data-dismiss="modal">Save</button>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="input">
              <mat-label style="font-weight: 400;">Mô tả khoá học</mat-label>
              <ckeditor formControlName="description">
                [(ngModel)]="ckeditorContent"
              </ckeditor>
            </div>

            <!-- </mat-form-field> -->

            <div style="text-align: center;">
              <button (click)="createdBook()" type="submit" class="btn btn-success m-30 submit">Lưu
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>