<div *ngIf="sttNotifi" id="toast-container" class="toast-top-right">
    <div class="alert alert-dismissible toast" [ngClass]="sttTextNotifi" aria-live="polite">
        <button type="button" class="toast-close-button" role="button" (click)="dismissToast()">×</button>
        <div class="toast-message">
            {{textNotifi}}
        </div>
    </div>
</div>

<div class="col-lg-5">
    <div class="card login-card register-card">
        <div class="card-body">
            <h2 class="card-title" *ngIf="sttAdd">Tạo sách</h2>
            <h2 class="card-title" *ngIf="!sttAdd">Chỉnh sửa sách</h2>
            <form [formGroup]="formCreated">
                <div class="form-group">
                    <input type="text" formControlName="description" class="form-control m-b-30" placeholder="Nội dung">
                </div>
                <div class="form-group">
                    <input type="number" formControlName="position" class="form-control m-b-30" placeholder="position">
                </div>
                <div class="form-group">
                    <input type="text" formControlName="courseId" class="form-control m-b-30" placeholder="courseId">
                </div>
                <button (click)="createdBook()" type="button" class="btn btn-block m-b-30 submit">Lưu
                </button>
                <button (click)="deleted()" type="button" class="btn btn-block m-0 badge status-error">Xóa
                </button>
            </form>
        </div>
    </div>
</div>