<div class="tables-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 ">
                <div class="menu-course">
                    <!-- <button>Tạo</button> -->
                    <a [routerLink]="['/course/create-edit']" class="btn btn-circle btn-custom purple-color">Tạo khóa
                        học</a>
                </div>
                <div class="accordion table-data">
                    <div class="card rounded-0">
                        <div class="mb-2" style=" display: flex;
                            align-items: center;">
                            <div class="">
                                <span> Tìm kiếm: </span>
                            </div>
                            <input style="padding: 5px; border: 1px solid; border-radius: 15px; margin: 10px;"
                                placeholder="search" type="text" value="" (input)="search($event.target.value)"
                                class="bg-0 b-0">
                        </div>
                        <div class="card-header">
                            <h4 class="mb-0" data-toggle="collapse" data-target="#table-two" aria-expanded="true"
                                aria-controls="table-two">
                                Khoá học
                                <i class="fa pull-right accordion__angle--animated" aria-hidden="true"></i>
                            </h4>
                        </div>
                        <div id="table-two" class="collapse show table-responsive">
                            <table class="table mb-4">
                                <thead>
                                    <tr>
                                        <!-- <th scope="col">Id</th> -->
                                        <!-- <th scope="col">Species</th> -->
                                        <th scope="col">Thời gian</th>
                                        <th scope="col">Tên</th>
                                        <th scope="col">Danh mục</th>
                                        <th scope="col">Coaching service</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Course status</th>
                                        <th scope="col">follow up request accept</th>
                                        <th scope="col">follow up request max</th>
                                        <th scope="col">price</th>
                                        <th scope="col">teacher</th>
                                        <th scope="col">updatedAt</th>
                                        <th scope="col">video introduce</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="listDataCategories.length == 0">
                                    <tr class="noTransaction text-center ng-hide" ng-show="userTrans.length<1">
                                        <td colspan="6">
                                            <h5 class="mt-3 mb-2 font-weight-bold ng-binding">Không có dữ liệu!</h5>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr
                                        *ngFor="let item of listDataCategories | paginate: { itemsPerPage: 10, currentPage: p, id: id  }">
                                        <!--                                         <td>-->
                                        <!--                                                            <button (click)="createRate(item.id)">{{item.id}}</button>-->
                                        <!--                                                            <button (click)="createFaq(item.id)">{{item.id}}</button>-->
                                        <!--                                                            <button (click)="createCourse(item.id)">{{item.id}}</button>-->
                                        <!--                                                            <button (click)="createWeek(item.id)">{{item.id}}</button>-->
                                        <!--                                                        </td>-->
                                        <td>
                                            <span>{{item.createdAt|date:'yyyy-MM-dd':'VI'}}</span>
                                        </td>
                                        <td>
                                            <span>{{item.name}}</span>
                                        </td>
                                        <td>
                                            <span>{{getCategoryName(item.categoryId)}}</span>
                                        </td>
                                        <td>
                                            <span *ngIf="item.coachingService" class=""></span>
                                            <span *ngIf="!item.coachingService">✘</span>
                                        </td>
                                        <td>
                                            <span>{{item.description.length > 200 ? item.description.substring(0,200) + '...' : item.description}}</span>
                                        </td>
                                        <td>
                                            <span>{{item.courseStatus}}</span>
                                        </td>
                                        <td>
                                            <span>{{item.followUpRequestAccept}}</span>
                                        </td>
                                        <td>
                                            <span>{{item.followUpRequestMax}}</span>
                                        </td>
                                        <td>
                                            <span>{{item.price}}</span>
                                        </td>
                                        <td>
                                            <span *ngFor="let teacher of item.teacherIds">{{getTeacherName(teacher)}},
                                            </span>
                                        </td>
                                        <td>
                                            <span>{{item.updatedAt}}</span>
                                        </td>
                                        <td>
                                            <iframe width="200" height="130" [src]="item.videoIntroduce | safe"
                                                accept="video/mp4" frameborder="0"></iframe>
                                        </td>
                                        <!-- <td><img src={{item.urlImg}} width="100" alt="loading"></td> -->
                                        <td>
                                            <span [routerLink]="['/course/create-edit']"
                                                [queryParams]="{id: item.id, name: nameDoc, idCategories: idDoc}">
                                                <button class="btn btn-primary">Chỉnh sửa</button>
                                            </span>
                                                 | 
                                            <span [routerLink]="['/bai-hoc']"
                                                [queryParams]="{courseName: item.name, courseId: item.id, idCategories: idDoc, nameCategories: nameDoc}">Bài
                                                học
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div id="course-list">
                                <div class="section">
                                    <p>Khóa học</p>
                                </div>
                                <div class="row ">
                                    <div class="col-md-2" *ngFor="let item of listDataCategories"
                                        [routerLink]="['/manage/course/curriculum']"
                                        [queryParams]="{courseId: item.id}">
                                        <a class="course-list-item sp-section-sort-handle ui-sortable-handle">
                                            <div class="course portlet light" context="contextCourse"
                                                ng-right-click="showContextMenu(course)">

                                                <div class="course-avatar"
                                                    style="background-image: url('https://cdn.hachium.com/dev/users/46d509938b208d2515e6866b5069c305/1588042849990.jpeg'); background-size: cover;">
                                                </div>
                                                <div class="course-info">
                                                    <div class="course-name">
                                                        {{item.name}}
                                                    </div>
                                                    <div class="course-sale">
                                                        <div class="col-md-7 col-xs-6"
                                                            style="padding:  0px;text-align: left;">
                                                            <div ng-if="checkCurrency == 'VND'">0<sup>đ</sup></div>
                                                            <div class="course-sale-info">Doanh thu</div>
                                                        </div>
                                                        <div class="col-md-5 col-xs-6"
                                                            style="padding:  0px;text-align: right;">
                                                            <div ng-bind="course.user_courses">0</div>
                                                            <div class="course-sale-info">Đăng ký</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                            </div>

                            <pagination-controls maxSize="5" *ngIf="listDataCategories.length > 10"
                                style="text-align: right" [id]="id" (pageChange)="p = $event">
                            </pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>