<div class="portlet light user-main-view">
    <div>
        <div class="portlet-fit-bordered user-content">
            <div class="portlet-body">
                <div class="table-scrollable table-scrollable-borderless">
                    <table class="table table-hover table-light">
                        <tbody>
                            <tr class="table-user">
                                <td width="28%">
                                    <label class="container-checkbox">
                                        <input type="checkbox" class="ng-pristine ng untouched ng-valid">
                                        <span class="checkmark"></span>
                                    </label> Tên
                                </td>
                                <td width=20%>Email</td>
                                <td width=15%>Số điện thoại</td>
                                <td width="15%">
                                    <span>Đăng kí</span>
                                    <i class="fa fa-sort-desc"></i>
                                </td>
                                <td width="12%" class="text-right">
                                    <select class="form-control ng-valid ng-dirty ng-valid-parse ng-touched"></select>
                                </td>
                            </tr>
                            <tr class="user-infor">
                                <td>
                                    <label class="container-checkbox">
                                        <input type="checbox" class="ng-pristine ng-untouched ng-valid">
                                        <span class="checkmark"></span>
                                    </label>
                                    <span class="username"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
