<div *ngIf="sttNotifi" id="toast-container" class="toast-top-right">
  <div class="alert alert-dismissible toast" [ngClass]="sttTextNotifi" aria-live="polite">
    <button type="button" class="toast-close-button" role="button" (click)="dismissToast()">×</button>
    <div class="toast-message">
      {{textNotifi}}
    </div>
  </div>
</div>
<div class="col-lg-3"></div>
<div class="col-lg-6" style=" text-align: center;">
  <div class="card login-card register-card">
    <div class="card-body">
      <h2 class="card-title" *ngIf="sttAdd">Tạo chương mới</h2>
      <h2 class="card-title" *ngIf="!sttAdd">Chỉnh sửa chương</h2>
      <form [formGroup]="formCreated">
        <mat-form-field *ngIf="!sttAdd">
          <mat-label>Chương</mat-label>
          <input matInput type="number" formControlName="position">
        </mat-form-field>
        <mat-form-field *ngIf="weekId == null || weekId.length == 0">
          <mat-label>Chọn danh mục</mat-label>
          <mat-select formControlName="categoryId" (selectionChange)="filterCourseByCategory($event.value)">
            <mat-option [value]="item.id" *ngFor="let item of categories">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Chọn khóa học</mat-label>
          <mat-select formControlName="courseId" (selectionChange)="getPositionWeek($event.value)">
            <mat-option [value]="item.id" *ngFor="let item of courses">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Tên chương</mat-label>
          <input matInput type="text" formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Nội dung</mat-label>
          <input matInput type="text" formControlName="description">
        </mat-form-field>
        <button (click)="createdWeek()" type="submit" class="btn btn-success m-30 submit">Lưu</button>
      </form>
    </div>
  </div>
</div>
<div class="col-lg-3"></div>
