<div class="tables-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div [routerLink]="['/lesson/create-edit']"
                    [queryParams]="{id: 'none', courseName: courseName, courseId: courseId}">
                    <button>Tạo</button>
                </div>
                <div class="accordion table-data">
                    <div class="card rounded-0">
                        <!-- <div class="mb-2" style=" display: flex;
                            align-items: center;">
                            <div class="mr-4">
                                <span>Tìm kiếm: </span>
                            </div>
                            <input style="padding: 5px; border: 1px solid; border-radius: 10px;" placeholder="search"
                                type="text" value="" (input)="search($event.target.value)" class="bg-0 b-0">
                        </div> -->
                        <div class="card-header">
                            <h4 class="mb-0" data-toggle="collapse" data-target="#table-two" aria-expanded="true"
                                aria-controls="table-two">
                                Danh sách
                                <i class="fa pull-right accordion__angle--animated" aria-hidden="true"></i>
                            </h4>
                        </div>
                        <div id="table-two" class="collapse show table-responsive">
                            <table class="table mb-4">
                                <thead>
                                    <tr>
                                        <!-- <th scope="col">Id</th> -->
                                        <!-- <th scope="col">Species</th> -->
                                        <th scope="col">
                                            <div style="width: 100px;">Thời gian</div>
                                        </th>
                                        <th scope="col">Description</th>
                                        <th scope="col">position</th>
                                        <th scope="col">ccourseID</th>
                                        <!-- <th scope="col">course name</th> -->
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="listDataCategories.length == 0">
                                    <tr class="noTransaction text-center ng-hide" ng-show="userTrans.length<1">
                                        <td colspan="6">
                                            <h5 class="mt-3 mb-2 font-weight-bold ng-binding">Không có dữ liệu!</h5>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr
                                        *ngFor="let item of listDataCategories | paginate: { itemsPerPage: 10, currentPage: p, id: id  }">
                                        <!-- <td>
                                                            <span class="id">{{item.id}}</span>
                                                        </td> -->
                                        <td class="last-trade">
                                            <span>{{item.createdAt|date:'yyyy-MM-dd HH:mm:ss':'VI'}}</span>

                                        </td>
                                        <td>
                                            <span>{{item.description}}</span>
                                        </td>
                                        <td>
                                            <span>{{item.position}}</span>
                                        </td>
                                        <td>
                                            <span>{{item.courseId}}</span>
                                        </td>
                                        <!-- <td
                                        *ngFor="let item of listDataCourse">
                                            <span>{{item.name}}</span>
                                        </td> -->
                                        <td>
                                            <span [routerLink]="['/lesson/create-edit']"
                                                [queryParams]="{id: item.id, courseName: courseName, courseId: courseId}">Chỉnh
                                                sửa</span>
                                        </td>
                                       
                                    </tr>
                                </tbody>
                            </table>
                            <pagination-controls maxSize="5" *ngIf="listDataCategories.length > 10"
                                style="text-align: right" [id]="id" (pageChange)="p = $event">
                            </pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>