<div class="tables-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="menu-course">
                    <a [routerLink]="['/lesson/create-edit']" class="btn btn-circle btn-custom purple-color">Thêm bài học</a>
                  </div>
                <!-- <div [routerLink]="['/lesson/create-edit']">
                    <button>Tạo</button>
                </div> -->
                <div class="accordion table-data">
                    <div class="card rounded-0">
                        <!-- <div class="mb-2" style=" display: flex;
                            align-items: center;">
                            <div class="mr-4">
                                <span>Tìm kiếm: </span>
                            </div>
                            <input style="padding: 5px; border: 1px solid; border-radius: 10px;" placeholder="search"
                                type="text" value="" (input)="search($event.target.value)" class="bg-0 b-0">
                        </div> -->
                      <div class="col-2">
                        <select class="form-control m-b-30" (change)="filterLessonByWeek($event.target.value)">
                          <option [value] = "0" selected disabled>Chọn chương học</option>
                          <option [value]="item.id" *ngFor="let item of weeks">{{item.name}}</option>
                        </select>
                      </div>
                        <div class="card-header">
                            <h4 class="mb-0" data-toggle="collapse" data-target="#table-two" aria-expanded="true"
                                aria-controls="table-two">
                                Danh sách
                                <i class="fa pull-right accordion__angle--animated" aria-hidden="true"></i>
                            </h4>
                        </div>
                        <div id="table-two" class="collapse show table-responsive">
                            <table class="table mb-4">
                                <thead>
                                    <tr>
                                        <th scope="col">Thời gian</th>
                                        <th scope="col">Tên bài học</th>
                                        <th scope="col">Mô tả</th>
                                        <th scope="col">Thứ tự</th>
                                        <th scope="col">Tuần học</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="lessons.length == 0">
                                    <tr class="noTransaction text-center ng-hide" ng-show="userTrans.length<1">
                                        <td colspan="6">
                                            <h5 class="mt-3 mb-2 font-weight-bold ng-binding">Không có dữ liệu!</h5>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr
                                        *ngFor="let item of lessons | paginate: { itemsPerPage: 10, currentPage: p, id: id  }">
                                        <td>
                                            <span>{{item.createdAt|date:'yyyy-MM-dd':'VI'}}</span>
                                        </td>
                                        <td>
                                            <span>{{item.name}}</span>
                                        </td>
                                        <td>
                                            <span>{{item.description}}</span>
                                        </td>
                                        <td>
                                            <span>Bài {{item.position}}</span>
                                        </td>
                                        <td>
                                            <span>{{getWeekName(item.weekId)}}</span>
                                        </td>
                                        <td>
                                            <span [routerLink]="['/lesson/create-edit']" [queryParams]="{id: item.id}">Chỉnh sửa</span>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                            <pagination-controls maxSize="5" *ngIf="lessons.length > 10"
                                style="text-align: right" [id]="id" (pageChange)="p = $event">
                            </pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
