<div *ngIf="sttNotifi" id="toast-container" class="toast-top-right">
  <div class="alert alert-dismissible toast" [ngClass]="sttTextNotifi" aria-live="polite">
    <button type="button" class="toast-close-button" role="button" (click)="dismissToast()">×</button>
    <div class="toast-message">
      {{textNotifi}}
    </div>
  </div>
</div>
<div class="col-lg-5">
  <div class="card login-card register-card">
    <div class="card-body">
      <h2 class="card-title" *ngIf="sttAdd">Tạo danh mục</h2>
      <h2 class="card-title" *ngIf="!sttAdd">Chỉnh sửa danh mục</h2>
      <form [formGroup]="formCreated">
        <mat-form-field>
          <mat-label>Tên danh mục</mat-label>
          <input matInput type="text" formControlName="name" aria-describedby="emailHelp">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Ảnh đại diện (nhập link ảnh cách nhau bởi dấu phẩy vd a,b,c)</mat-label>
          <input matInput type="text" formControlName="arrImg">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Mô tả danh mục</mat-label>
          <input matInput type="text" formControlName="description">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Video giới thiệu</mat-label>
          <input matInput type="text" formControlName="videoIntroduce">
        </mat-form-field>
        <br>
        <button (click)="createdBook()" type="button" class="btn btn-primary btn-block m-b-30 submit">Lưu</button>
      </form>
    </div>
  </div>
</div>